=begin
#EmailGuard Public API

#Team-scoped REST API at /api/v1. Authenticate with `Authorization: Bearer egsk_live_...` or `X-API-Key`. Forks may register custom routes under /api/v1/tools/* (requires `tools:read` / `tools:write` scopes). Async tool jobs return a `job_id` — poll `GET .../{jobId}/results` until complete. See /docs/api-reference.

The version of the OpenAPI document: 1.0
Contact: dev@emailguard.co
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Emailguard
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get billing usage
    # Returns metered feature usage for the team's billing period. Defaults to the current period; use `range=previous` or `range=custom` with `start` and `end` to query other windows.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :range Period selector: current, previous, or custom
    # @option opts [String] :start Custom range start (RFC3339 or YYYY-MM-DD); required when range&#x3D;custom
    # @option opts [String] :_end Custom range end (RFC3339 or YYYY-MM-DD); required when range&#x3D;custom
    # @return [BillingUsageResponse]
    def api_v1_team_billing_usage_get(opts = {})
      data, _status_code, _headers = api_v1_team_billing_usage_get_with_http_info(opts)
      data
    end

    # Get billing usage
    # Returns metered feature usage for the team&#39;s billing period. Defaults to the current period; use &#x60;range&#x3D;previous&#x60; or &#x60;range&#x3D;custom&#x60; with &#x60;start&#x60; and &#x60;end&#x60; to query other windows.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :range Period selector: current, previous, or custom
    # @option opts [String] :start Custom range start (RFC3339 or YYYY-MM-DD); required when range&#x3D;custom
    # @option opts [String] :_end Custom range end (RFC3339 or YYYY-MM-DD); required when range&#x3D;custom
    # @return [Array<(BillingUsageResponse, Integer, Hash)>] BillingUsageResponse data, response status code and response headers
    def api_v1_team_billing_usage_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.api_v1_team_billing_usage_get ...'
      end
      allowable_values = ["current", "previous", "custom"]
      if @api_client.config.client_side_validation && opts[:'range'] && !allowable_values.include?(opts[:'range'])
        fail ArgumentError, "invalid value for \"range\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/team/billing/usage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingUsageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.api_v1_team_billing_usage_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#api_v1_team_billing_usage_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
