=begin
#EmailGuard Public API

#Team-scoped REST API at /api/v1. Authenticate with `Authorization: Bearer egsk_live_...` or `X-API-Key`. Forks may register custom routes under /api/v1/tools/* (requires `tools:read` / `tools:write` scopes). Async tool jobs return a `job_id` — poll `GET .../{jobId}/results` until complete. See /docs/api-reference.

The version of the OpenAPI document: 1.1
Contact: dev@emailguard.co
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Emailguard
  class ChannelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete notification channel
    # Permanently deletes a channel and removes it from any rules that reference it.
    # @param channel_id [String] UUID of the notification channel to delete
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def api_v1_team_notifications_channels_channel_id_delete(channel_id, opts = {})
      data, _status_code, _headers = api_v1_team_notifications_channels_channel_id_delete_with_http_info(channel_id, opts)
      data
    end

    # Delete notification channel
    # Permanently deletes a channel and removes it from any rules that reference it.
    # @param channel_id [String] UUID of the notification channel to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def api_v1_team_notifications_channels_channel_id_delete_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelsApi.api_v1_team_notifications_channels_channel_id_delete ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling ChannelsApi.api_v1_team_notifications_channels_channel_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/channels/{channelId}'.sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ChannelsApi.api_v1_team_notifications_channels_channel_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsApi#api_v1_team_notifications_channels_channel_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update notification channel
    # Updates a channel's display name or configuration. Send only fields you want to change.
    # @param channel_id [String] UUID of the notification channel to update
    # @param update_notification_channel_input [UpdateNotificationChannelInput] Updated channel name and/or configuration
    # @param [Hash] opts the optional parameters
    # @return [GetNotificationChannelResponse]
    def api_v1_team_notifications_channels_channel_id_put(channel_id, update_notification_channel_input, opts = {})
      data, _status_code, _headers = api_v1_team_notifications_channels_channel_id_put_with_http_info(channel_id, update_notification_channel_input, opts)
      data
    end

    # Update notification channel
    # Updates a channel&#39;s display name or configuration. Send only fields you want to change.
    # @param channel_id [String] UUID of the notification channel to update
    # @param update_notification_channel_input [UpdateNotificationChannelInput] Updated channel name and/or configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNotificationChannelResponse, Integer, Hash)>] GetNotificationChannelResponse data, response status code and response headers
    def api_v1_team_notifications_channels_channel_id_put_with_http_info(channel_id, update_notification_channel_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelsApi.api_v1_team_notifications_channels_channel_id_put ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling ChannelsApi.api_v1_team_notifications_channels_channel_id_put"
      end
      # verify the required parameter 'update_notification_channel_input' is set
      if @api_client.config.client_side_validation && update_notification_channel_input.nil?
        fail ArgumentError, "Missing the required parameter 'update_notification_channel_input' when calling ChannelsApi.api_v1_team_notifications_channels_channel_id_put"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/channels/{channelId}'.sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_notification_channel_input)

      # return_type
      return_type = opts[:debug_return_type] || 'GetNotificationChannelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ChannelsApi.api_v1_team_notifications_channels_channel_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsApi#api_v1_team_notifications_channels_channel_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test notification channel
    # Sends a sample payload to a webhook channel to confirm the endpoint is reachable. On success the channel is marked verified.
    # @param channel_id [String] UUID of the webhook channel to test
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def api_v1_team_notifications_channels_channel_id_test_post(channel_id, opts = {})
      data, _status_code, _headers = api_v1_team_notifications_channels_channel_id_test_post_with_http_info(channel_id, opts)
      data
    end

    # Test notification channel
    # Sends a sample payload to a webhook channel to confirm the endpoint is reachable. On success the channel is marked verified.
    # @param channel_id [String] UUID of the webhook channel to test
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def api_v1_team_notifications_channels_channel_id_test_post_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelsApi.api_v1_team_notifications_channels_channel_id_test_post ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling ChannelsApi.api_v1_team_notifications_channels_channel_id_test_post"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/channels/{channelId}/test'.sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ChannelsApi.api_v1_team_notifications_channels_channel_id_test_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsApi#api_v1_team_notifications_channels_channel_id_test_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List notification channels
    # Returns every delivery channel configured for the team (email, webhook, and other supported types). Use channel IDs when attaching targets to notification rules.
    # @param [Hash] opts the optional parameters
    # @return [GetNotificationChannelsResponse]
    def api_v1_team_notifications_channels_get(opts = {})
      data, _status_code, _headers = api_v1_team_notifications_channels_get_with_http_info(opts)
      data
    end

    # List notification channels
    # Returns every delivery channel configured for the team (email, webhook, and other supported types). Use channel IDs when attaching targets to notification rules.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNotificationChannelsResponse, Integer, Hash)>] GetNotificationChannelsResponse data, response status code and response headers
    def api_v1_team_notifications_channels_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelsApi.api_v1_team_notifications_channels_get ...'
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/channels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNotificationChannelsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ChannelsApi.api_v1_team_notifications_channels_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsApi#api_v1_team_notifications_channels_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create notification channel
    # Creates a delivery channel for the team. Email channels require verification; webhook channels can be verified with the test endpoint.
    # @param create_notification_channel_input [CreateNotificationChannelInput] Channel name, type, and type-specific configuration
    # @param [Hash] opts the optional parameters
    # @return [GetNotificationChannelResponse]
    def api_v1_team_notifications_channels_post(create_notification_channel_input, opts = {})
      data, _status_code, _headers = api_v1_team_notifications_channels_post_with_http_info(create_notification_channel_input, opts)
      data
    end

    # Create notification channel
    # Creates a delivery channel for the team. Email channels require verification; webhook channels can be verified with the test endpoint.
    # @param create_notification_channel_input [CreateNotificationChannelInput] Channel name, type, and type-specific configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNotificationChannelResponse, Integer, Hash)>] GetNotificationChannelResponse data, response status code and response headers
    def api_v1_team_notifications_channels_post_with_http_info(create_notification_channel_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelsApi.api_v1_team_notifications_channels_post ...'
      end
      # verify the required parameter 'create_notification_channel_input' is set
      if @api_client.config.client_side_validation && create_notification_channel_input.nil?
        fail ArgumentError, "Missing the required parameter 'create_notification_channel_input' when calling ChannelsApi.api_v1_team_notifications_channels_post"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/channels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_notification_channel_input)

      # return_type
      return_type = opts[:debug_return_type] || 'GetNotificationChannelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ChannelsApi.api_v1_team_notifications_channels_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsApi#api_v1_team_notifications_channels_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
