=begin
#EmailGuard Public API

#Team-scoped REST API at /api/v1. Authenticate with `Authorization: Bearer egsk_live_...` or `X-API-Key`. Forks may register custom routes under /api/v1/tools/* (requires `tools:read` / `tools:write` scopes). Async tool jobs return a `job_id` — poll `GET .../{jobId}/results` until complete. See /docs/api-reference.

The version of the OpenAPI document: 1.1
Contact: dev@emailguard.co
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Emailguard
  class InvitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List pending team invites
    # Returns invites that have not yet been accepted or expired. Each invite includes the target email, assigned role, and expiry time.
    # @param [Hash] opts the optional parameters
    # @return [ListPublicTeamInvitesResponse]
    def api_v1_team_members_invites_get(opts = {})
      data, _status_code, _headers = api_v1_team_members_invites_get_with_http_info(opts)
      data
    end

    # List pending team invites
    # Returns invites that have not yet been accepted or expired. Each invite includes the target email, assigned role, and expiry time.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPublicTeamInvitesResponse, Integer, Hash)>] ListPublicTeamInvitesResponse data, response status code and response headers
    def api_v1_team_members_invites_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.api_v1_team_members_invites_get ...'
      end
      # resource path
      local_var_path = '/api/v1/team/members/invites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPublicTeamInvitesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.api_v1_team_members_invites_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#api_v1_team_members_invites_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a pending invite
    # Revokes a pending invite so it can no longer be accepted. The invite is identified by its UUID from the list invites response.
    # @param invite_id [String] UUID of the pending invite to cancel
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def api_v1_team_members_invites_invite_id_delete(invite_id, opts = {})
      data, _status_code, _headers = api_v1_team_members_invites_invite_id_delete_with_http_info(invite_id, opts)
      data
    end

    # Cancel a pending invite
    # Revokes a pending invite so it can no longer be accepted. The invite is identified by its UUID from the list invites response.
    # @param invite_id [String] UUID of the pending invite to cancel
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def api_v1_team_members_invites_invite_id_delete_with_http_info(invite_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.api_v1_team_members_invites_invite_id_delete ...'
      end
      # verify the required parameter 'invite_id' is set
      if @api_client.config.client_side_validation && invite_id.nil?
        fail ArgumentError, "Missing the required parameter 'invite_id' when calling InvitesApi.api_v1_team_members_invites_invite_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/team/members/invites/{inviteId}'.sub('{inviteId}', CGI.escape(invite_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.api_v1_team_members_invites_invite_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#api_v1_team_members_invites_invite_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite a team member
    # Sends an email invite to join the team with the specified role. The invitee must accept before they appear in the members list.
    # @param invite_team_member_input [InviteTeamMemberInput] Invitee email and role to assign on acceptance
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def api_v1_team_members_invites_post(invite_team_member_input, opts = {})
      data, _status_code, _headers = api_v1_team_members_invites_post_with_http_info(invite_team_member_input, opts)
      data
    end

    # Invite a team member
    # Sends an email invite to join the team with the specified role. The invitee must accept before they appear in the members list.
    # @param invite_team_member_input [InviteTeamMemberInput] Invitee email and role to assign on acceptance
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def api_v1_team_members_invites_post_with_http_info(invite_team_member_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.api_v1_team_members_invites_post ...'
      end
      # verify the required parameter 'invite_team_member_input' is set
      if @api_client.config.client_side_validation && invite_team_member_input.nil?
        fail ArgumentError, "Missing the required parameter 'invite_team_member_input' when calling InvitesApi.api_v1_team_members_invites_post"
      end
      # resource path
      local_var_path = '/api/v1/team/members/invites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invite_team_member_input)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.api_v1_team_members_invites_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#api_v1_team_members_invites_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
