=begin
#EmailGuard Public API

#Team-scoped REST API at /api/v1. Authenticate with `Authorization: Bearer egsk_live_...` or `X-API-Key`. Forks may register custom routes under /api/v1/tools/* (requires `tools:read` / `tools:write` scopes). Async tool jobs return a `job_id` — poll `GET .../{jobId}/results` until complete. See /docs/api-reference.

The version of the OpenAPI document: 1.1
Contact: dev@emailguard.co
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Emailguard
  class MembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List team members
    # Returns every member of the team, including role, profile fields, and join timestamp. Use the `user_id` field when calling member update or remove routes.
    # @param [Hash] opts the optional parameters
    # @return [ListPublicTeamMembersResponse]
    def api_v1_team_members_get(opts = {})
      data, _status_code, _headers = api_v1_team_members_get_with_http_info(opts)
      data
    end

    # List team members
    # Returns every member of the team, including role, profile fields, and join timestamp. Use the &#x60;user_id&#x60; field when calling member update or remove routes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPublicTeamMembersResponse, Integer, Hash)>] ListPublicTeamMembersResponse data, response status code and response headers
    def api_v1_team_members_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.api_v1_team_members_get ...'
      end
      # resource path
      local_var_path = '/api/v1/team/members'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPublicTeamMembersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MembersApi.api_v1_team_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#api_v1_team_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a team member
    # Removes a user from the team. Identify the member by user account UUID in the path. The team owner cannot be removed through this endpoint.
    # @param user_id [String] User account UUID of the member to remove
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def api_v1_team_members_user_id_delete(user_id, opts = {})
      data, _status_code, _headers = api_v1_team_members_user_id_delete_with_http_info(user_id, opts)
      data
    end

    # Remove a team member
    # Removes a user from the team. Identify the member by user account UUID in the path. The team owner cannot be removed through this endpoint.
    # @param user_id [String] User account UUID of the member to remove
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def api_v1_team_members_user_id_delete_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.api_v1_team_members_user_id_delete ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling MembersApi.api_v1_team_members_user_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/team/members/{userId}'.sub('{userId}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MembersApi.api_v1_team_members_user_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#api_v1_team_members_user_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a team member role
    # Changes a member's role or internal notes. Identify the member by user account UUID in the path (not the team membership record ID).
    # @param user_id [String] User account UUID of the member to update
    # @param update_team_member_input [UpdateTeamMemberInput] New role and/or notes for the member
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def api_v1_team_members_user_id_patch(user_id, update_team_member_input, opts = {})
      data, _status_code, _headers = api_v1_team_members_user_id_patch_with_http_info(user_id, update_team_member_input, opts)
      data
    end

    # Update a team member role
    # Changes a member&#39;s role or internal notes. Identify the member by user account UUID in the path (not the team membership record ID).
    # @param user_id [String] User account UUID of the member to update
    # @param update_team_member_input [UpdateTeamMemberInput] New role and/or notes for the member
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def api_v1_team_members_user_id_patch_with_http_info(user_id, update_team_member_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.api_v1_team_members_user_id_patch ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling MembersApi.api_v1_team_members_user_id_patch"
      end
      # verify the required parameter 'update_team_member_input' is set
      if @api_client.config.client_side_validation && update_team_member_input.nil?
        fail ArgumentError, "Missing the required parameter 'update_team_member_input' when calling MembersApi.api_v1_team_members_user_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/team/members/{userId}'.sub('{userId}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_team_member_input)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MembersApi.api_v1_team_members_user_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#api_v1_team_members_user_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
