=begin
#EmailGuard Public API

#Team-scoped REST API at /api/v1. Authenticate with `Authorization: Bearer egsk_live_...` or `X-API-Key`. Forks may register custom routes under /api/v1/tools/* (requires `tools:read` / `tools:write` scopes). Async tool jobs return a `job_id` — poll `GET .../{jobId}/results` until complete. See /docs/api-reference.

The version of the OpenAPI document: 1.2
Contact: dev@emailguard.co
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Emailguard
  class RulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create notification rule
    # Creates a rule that delivers matching events to the specified channels. At least one event type and one channel target are required.
    # @param create_notification_rule_input [CreateNotificationRuleInput] Rule name, event types, and channel targets
    # @param [Hash] opts the optional parameters
    # @return [IdDataResponse]
    def create_notification_rule(create_notification_rule_input, opts = {})
      data, _status_code, _headers = create_notification_rule_with_http_info(create_notification_rule_input, opts)
      data
    end

    # Create notification rule
    # Creates a rule that delivers matching events to the specified channels. At least one event type and one channel target are required.
    # @param create_notification_rule_input [CreateNotificationRuleInput] Rule name, event types, and channel targets
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdDataResponse, Integer, Hash)>] IdDataResponse data, response status code and response headers
    def create_notification_rule_with_http_info(create_notification_rule_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.create_notification_rule ...'
      end
      # verify the required parameter 'create_notification_rule_input' is set
      if @api_client.config.client_side_validation && create_notification_rule_input.nil?
        fail ArgumentError, "Missing the required parameter 'create_notification_rule_input' when calling RulesApi.create_notification_rule"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_notification_rule_input)

      # return_type
      return_type = opts[:debug_return_type] || 'IdDataResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.create_notification_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#create_notification_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete notification rule
    # Permanently deletes a routing rule and its channel assignments.
    # @param rule_id [String] UUID of the notification rule to delete
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_notification_rule(rule_id, opts = {})
      data, _status_code, _headers = delete_notification_rule_with_http_info(rule_id, opts)
      data
    end

    # Delete notification rule
    # Permanently deletes a routing rule and its channel assignments.
    # @param rule_id [String] UUID of the notification rule to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_notification_rule_with_http_info(rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.delete_notification_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.delete_notification_rule"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/rules/{ruleId}'.sub('{ruleId}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.delete_notification_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#delete_notification_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List notification rules
    # Returns routing rules that map event types to one or more delivery channels. Each rule includes its enabled state and channel targets.
    # @param [Hash] opts the optional parameters
    # @return [GetNotificationRulesResponse]
    def list_notification_rules(opts = {})
      data, _status_code, _headers = list_notification_rules_with_http_info(opts)
      data
    end

    # List notification rules
    # Returns routing rules that map event types to one or more delivery channels. Each rule includes its enabled state and channel targets.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNotificationRulesResponse, Integer, Hash)>] GetNotificationRulesResponse data, response status code and response headers
    def list_notification_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.list_notification_rules ...'
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNotificationRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.list_notification_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#list_notification_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update notification rule
    # Updates a rule's name, description, event types, enabled flag, or channel targets. When `channels` is sent it replaces all existing targets.
    # @param rule_id [String] UUID of the notification rule to update
    # @param update_notification_rule_input [UpdateNotificationRuleInput] Fields to update on the rule
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def update_notification_rule(rule_id, update_notification_rule_input, opts = {})
      data, _status_code, _headers = update_notification_rule_with_http_info(rule_id, update_notification_rule_input, opts)
      data
    end

    # Update notification rule
    # Updates a rule&#39;s name, description, event types, enabled flag, or channel targets. When &#x60;channels&#x60; is sent it replaces all existing targets.
    # @param rule_id [String] UUID of the notification rule to update
    # @param update_notification_rule_input [UpdateNotificationRuleInput] Fields to update on the rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def update_notification_rule_with_http_info(rule_id, update_notification_rule_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.update_notification_rule ...'
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.update_notification_rule"
      end
      # verify the required parameter 'update_notification_rule_input' is set
      if @api_client.config.client_side_validation && update_notification_rule_input.nil?
        fail ArgumentError, "Missing the required parameter 'update_notification_rule_input' when calling RulesApi.update_notification_rule"
      end
      # resource path
      local_var_path = '/api/v1/team/notifications/rules/{ruleId}'.sub('{ruleId}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_notification_rule_input)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.update_notification_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#update_notification_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
