=begin
#EmailGuard Public API

#Team-scoped REST API at /api/v1. Authenticate with `Authorization: Bearer egsk_live_...` or `X-API-Key`. Forks may register custom routes under /api/v1/tools/* (requires `tools:read` / `tools:write` scopes). Async tool jobs return a `job_id` — poll `GET .../{jobId}/results` until complete. See /docs/api-reference.

The version of the OpenAPI document: 1.0
Contact: dev@emailguard.co
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Emailguard
  class TeamsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get team
    # Returns profile fields for the team associated with your API key.
    # @param [Hash] opts the optional parameters
    # @return [GetPublicTeamResponse]
    def api_v1_team_get(opts = {})
      data, _status_code, _headers = api_v1_team_get_with_http_info(opts)
      data
    end

    # Get team
    # Returns profile fields for the team associated with your API key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPublicTeamResponse, Integer, Hash)>] GetPublicTeamResponse data, response status code and response headers
    def api_v1_team_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.api_v1_team_get ...'
      end
      # resource path
      local_var_path = '/api/v1/team'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPublicTeamResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TeamsApi.api_v1_team_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#api_v1_team_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update team
    # Updates mutable team profile fields (name, emoji, URL, email). Send only the fields you want to change; omitted fields are left unchanged except `name`, which is required on every request.
    # @param update_team_input [UpdateTeamInput] Team profile fields to update
    # @param [Hash] opts the optional parameters
    # @return [GetPublicTeamResponse]
    def api_v1_team_patch(update_team_input, opts = {})
      data, _status_code, _headers = api_v1_team_patch_with_http_info(update_team_input, opts)
      data
    end

    # Update team
    # Updates mutable team profile fields (name, emoji, URL, email). Send only the fields you want to change; omitted fields are left unchanged except &#x60;name&#x60;, which is required on every request.
    # @param update_team_input [UpdateTeamInput] Team profile fields to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPublicTeamResponse, Integer, Hash)>] GetPublicTeamResponse data, response status code and response headers
    def api_v1_team_patch_with_http_info(update_team_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.api_v1_team_patch ...'
      end
      # verify the required parameter 'update_team_input' is set
      if @api_client.config.client_side_validation && update_team_input.nil?
        fail ArgumentError, "Missing the required parameter 'update_team_input' when calling TeamsApi.api_v1_team_patch"
      end
      # resource path
      local_var_path = '/api/v1/team'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_team_input)

      # return_type
      return_type = opts[:debug_return_type] || 'GetPublicTeamResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TeamsApi.api_v1_team_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#api_v1_team_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
